
.bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ccc;
  box-shadow: 0 -2px 6px rgba(0,0,0,0.1);
  z-index: 100;
  padding: 5px 0;
  justify-content: space-around;
}


.bottom-btn {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 13px;
  color: #333;
  transition: color 0.2s, font-weight 0.2s;
}

/* Active button highlight */
.bottom-btn.active {
  color: skyblue;
  font-weight: 600;
}

/* Only show on mobile */
@media screen and (max-width: 768px) {
  .bottom-nav {
    display: flex;
  }

  /* Hide sidebar on mobile */
  .sidebar {
    display: none;
  }
}
